<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StoneHaven.Models.Tests.Properties.Settings.SHGWConnectionString"
            connectionString="server=localhost;user id=root;Password=sa;persist security info=True;database=SHGW"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>